<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Project Name</h1>
    <p>Introduction: Brief description of your project.</p>

    <h2>Essays</h2>
    <p>If you're not sure which to read, try:</p>
    <ul>
        <li><a href="#">Is it Worth Being Wise?</a></li>
        <li><a href="#">Having Kids</a></li>
        <li><a href="#">How to Lose Time and Money</a></li>
    </ul>

    <h2>The Reddits</h2>
    <ul>
        <li><a href="#">How to Start Google</a></li>
        <li><a href="#">The Best Essay</a></li>
        <li><a href="#">Superlinear Returns</a></li>
        <li><a href="#">How to Do Great Work</a></li>
        <li><a href="#">How to Get New Ideas</a></li>
        <li><a href="#">The Need to Read</a></li>
        <li><a href="#">What You (Want to) Want</a></li>
        <li><a href="#">Alien Truth</a></li>
        <li><a href="#">What I've Learned from Users</a></li>
        <li><a href="#">Heresy</a></li>
    </ul>
</body>
</html>
