h1 {
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
}

* {
  margin: 0;
  color: white;
  background-color: black;
  text-align: center;
}

img {
  border: 5px solid white;
  margin: 80px 0 40px 0;
}

